<div class="layout-wrapper">
    <p-drawer [(visible)]="sidebarVisible">
        <h3>Menu</h3>
        <p-button label="Toggle Dark Mode" (onClick)="toggleDarkMode()"/>
        <p-button label="Logout" (onClick)="logout()" styleClass="p-button-danger"></p-button>
        <p-button label="Accounts" (onClick)="navigateToAccounts()"></p-button>
        <p-button label="Dashboard" (onClick)="navigateToDashboard()"></p-button>
    </p-drawer>

    <div class="layout-main">
        <header class="p-2 border-bottom-1 surface-border flex align-items-center">
            <p-button icon="pi pi-bars" styleClass="p-button-text" (onClick)="sidebarVisible = true"></p-button>
            <h2 class="ml-2">Financial Planner</h2>
        </header>
        <main class="p-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>