<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

<div class="p-4">
    @if (backLinkPath) {
    <div class="mb-4">
        <a [routerLink]="backLinkPath" class="no-underline">
            <p-button [label]="'Back to ' + title.replace('s', '')" icon="pi pi-arrow-left"
                styleClass="p-button-text"></p-button>
        </a>
    </div>
    }
    <p-card [header]="title">
        <ng-template pTemplate="header">
            <div class="flex justify-content-end">
                <p-button [label]="'New ' + title.slice(0, -1)" icon="pi pi-plus" (onClick)="showForm()"></p-button>
            </div>
        </ng-template>

        @if (isLoading$ | async) {
        <div class="flex justify-content-center p-4">
            <p-progressSpinner></p-progressSpinner>
        </div>
        } @else {
        <app-data-table [data]="(items$ | async) || []" [columns]="columns">
            <ng-template #actions let-item>
                <p-button icon="pi pi-pencil" styleClass="p-button-text p-button-rounded"
                    (onClick)="showForm(item)"></p-button>
                <p-button icon="pi pi-trash" styleClass="p-button-text p-button-rounded p-button-danger"
                    (onClick)="deleteItem(item)"></p-button>
            </ng-template>
        </app-data-table>
        }
    </p-card>
</div>