<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

<div class="p-4">
    <div class="mb-4">
        <a routerLink="/app/dashboard" class="no-underline">
            <p-button label="Back to Dashboard" icon="pi pi-arrow-left" [text]="true"></p-button>
        </a>
    </div>
    <p-card [header]="title">
        <ng-template pTemplate="header">
            <div
                class="flex flex-wrap align-items-center justify-content-between gap-3 px-3 py-2 border-bottom-1 surface-border">
                <div class="flex flex-wrap gap-2">
                    <p-iconfield>
                        <p-inputicon class="pi pi-search"></p-inputicon>
                        <input type="text" pInputText [placeholder]="'Search ' + title + '...'" [(ngModel)]="searchTerm"
                            (ngModelChange)="onFilterChange()" class="w-18rem" />
                    </p-iconfield>

                    @if (showCategoryFilter()) {
                    <p-select [options]="categories()" [(ngModel)]="selectedCategoryId"
                        (ngModelChange)="onFilterChange()" optionLabel="name" optionValue="id"
                        placeholder="Filter Category" [showClear]="true" class="w-15rem"></p-select>
                    }
                </div>

                <p-button [label]="'New ' + title.slice(0, -1)" icon="pi pi-plus" (onClick)="showForm()"
                    severity="primary"></p-button>
            </div>
        </ng-template>

        @if (ready) {
        <app-data-table [data]="items$ | async" [columns]="columns" [loading]="isLoading$ | async" [lazy]="true"
            [totalRecords]="crudService.totalRecords$ | async" (onLazyLoad)="onLazyLoad($event)">
            <ng-template #actions let-item>
                <div class="flex gap-2">
                    <p-button icon="pi pi-pencil" [text]="true" [rounded]="true" (onClick)="showForm(item)"></p-button>
                    <p-button icon="pi pi-trash" [text]="true" [rounded]="true" severity="danger"
                        (onClick)="deleteItem(item)"></p-button>
                </div>
            </ng-template>
        </app-data-table>
        } @else {
        <div class="flex justify-content-center p-4">
            <p-progressSpinner></p-progressSpinner>
        </div>
        }

    </p-card>
</div>